@media screen and (min-width: 1024px) {
  .navbar {
      min-height: 5.25rem;
  }
}

.navbar-item img {
  max-height: 2rem;
}
.is-primary {
  background-color: #2A1E5C !important
}

a.navbar-item:hover{
  color: #FF9B00 !important;
}

.primary-button {
  background-color: #FF9B00;
  color:#ffff;
  border: none;
  -webkit-box-shadow: 0 10px 20px rgba(0, 0, 0, 0.19), 0 6px 6px rgba(0, 0, 0, 0.23);
  -moz-box-shadow: 0 10px 20px rgba(0, 0, 0, 0.19), 0 6px 6px rgba(0, 0, 0, 0.23);
  -ms-box-shadow: 0 10px 20px rgba(0, 0, 0, 0.19), 0 6px 6px rgba(0, 0, 0, 0.23);
  -o-box-shadow: 0 10px 20px rgba(0, 0, 0, 0.19), 0 6px 6px rgba(0, 0, 0, 0.23);
  box-shadow: 0 10px 20px rgba(0, 0, 0, 0.19), 0 6px 6px rgba(0, 0, 0, 0.23);
  border-radius: 10px;
  font-size: 18px;
}
.primary-button:hover {
  background-color: #FF9B00;
  color: #fff;
  margin-top: 2px;
}
.secundary-button {
  color: #2A1E5C;
}
.create-question-button {
  background-color: #2A1E5C;
  color: #fff;
  border: none;
  -webkit-box-shadow: 0 10px 20px rgba(0, 0, 0, 0.19), 0 6px 6px rgba(0, 0, 0, 0.23);
  -moz-box-shadow: 0 10px 20px rgba(0, 0, 0, 0.19), 0 6px 6px rgba(0, 0, 0, 0.23);
  -ms-box-shadow: 0 10px 20px rgba(0, 0, 0, 0.19), 0 6px 6px rgba(0, 0, 0, 0.23);
  -o-box-shadow: 0 10px 20px rgba(0, 0, 0, 0.19), 0 6px 6px rgba(0, 0, 0, 0.23);
  box-shadow: 0 10px 20px rgba(0, 0, 0, 0.19), 0 6px 6px rgba(0, 0, 0, 0.23);
  border-radius: 10px;
  font-size: 18px;
}
.create-question-button:hover {
  color: #FF9B00;
}
.logo {
  margin-right: 10px;
}
.logo-type {
  font-size: 30px;
  font-weight: bold;
}
.logo-type__quero {
  color: #2A1E5C;
  padding-right: 4px;
}
.logo-type__respostas {
  color: #FF9B00;
}

.header-background {
  position: absolute;
  top: 0;
  bottom: 0;
  right: 0;
  left: 0;
  width: 100%;
  height: 55%;
  background-image: linear-gradient(#3559a7, #2A1E5C);
  transform: skewY(-4.5deg);
  transform-origin: top left;
}

.header-content {
  background-color: #fff;
}

.input, .textarea {
  font-size: 18px; 
  border: none;
  border-color: #fff;
  overflow: auto;
  outline: none;
  -webkit-box-shadow: none;
  -moz-box-shadow: none;
  box-shadow: none;
  resize: none;
}

.input-tags {
  background-color: #fff;
  padding: 20px;
  font-size: 15px; 
  border-radius: 10px;
  -webkit-box-shadow: 0 10px 20px rgba(0, 0, 0, 0.19), 0 6px 6px rgba(0, 0, 0, 0.23);
  -moz-box-shadow: 0 10px 20px rgba(0, 0, 0, 0.19), 0 6px 6px rgba(0, 0, 0, 0.23);
  -ms-box-shadow: 0 10px 20px rgba(0, 0, 0, 0.19), 0 6px 6px rgba(0, 0, 0, 0.23);
  -o-box-shadow: 0 10px 20px rgba(0, 0, 0, 0.19), 0 6px 6px rgba(0, 0, 0, 0.23);
  box-shadow: 0 10px 20px rgba(0, 0, 0, 0.19), 0 6px 6px rgba(0, 0, 0, 0.23);
}

.question-form {
  background-color: #fff;
  padding: 10px;
  margin-bottom: 16px;
  border-radius: 20px;
  -webkit-box-shadow: 0 10px 20px rgba(0, 0, 0, 0.19), 0 6px 6px rgba(0, 0, 0, 0.23);
  -moz-box-shadow: 0 10px 20px rgba(0, 0, 0, 0.19), 0 6px 6px rgba(0, 0, 0, 0.23);
  -ms-box-shadow: 0 10px 20px rgba(0, 0, 0, 0.19), 0 6px 6px rgba(0, 0, 0, 0.23);
  -o-box-shadow: 0 10px 20px rgba(0, 0, 0, 0.19), 0 6px 6px rgba(0, 0, 0, 0.23);
  box-shadow: 0 10px 20px rgba(0, 0, 0, 0.19), 0 6px 6px rgba(0, 0, 0, 0.23);
}

.text-white {
  color: #fff;
}

.text-white__subtitle {
  color: #fff;
  line-height: 30px;
}

.buttons-in-header {
  margin-top: 15px;
}

.box {
  padding: 10px;
  -webkit-box-shadow: 0 10px 20px rgba(0, 0, 0, 0.19), 0 6px 6px rgba(0, 0, 0, 0.23);
  -moz-box-shadow: 0 10px 20px rgba(0, 0, 0, 0.19), 0 6px 6px rgba(0, 0, 0, 0.23);
  -ms-box-shadow: 0 10px 20px rgba(0, 0, 0, 0.19), 0 6px 6px rgba(0, 0, 0, 0.23);
  -o-box-shadow: 0 10px 20px rgba(0, 0, 0, 0.19), 0 6px 6px rgba(0, 0, 0, 0.23);
  box-shadow: 0 10px 20px rgba(0, 0, 0, 0.19), 0 6px 6px rgba(0, 0, 0, 0.23);
}
.card-content {
  margin: 0 !important;
  padding: 10px !important;
}

.column {
  margin: 0 !important;
  padding: 8px !important;
}

.columns {
  margin: 0;
}

.tabs li.is-active a {
  -webkit-box-shadow: 0 10px 20px rgba(0, 0, 0, 0.19), 0 6px 6px rgba(0, 0, 0, 0.23);
  -moz-box-shadow: 0 10px 20px rgba(0, 0, 0, 0.19), 0 6px 6px rgba(0, 0, 0, 0.23);
  -ms-box-shadow: 0 10px 20px rgba(0, 0, 0, 0.19), 0 6px 6px rgba(0, 0, 0, 0.23);
  -o-box-shadow: 0 10px 20px rgba(0, 0, 0, 0.19), 0 6px 6px rgba(0, 0, 0, 0.23);
  box-shadow: 0 10px 20px rgba(0, 0, 0, 0.19), 0 6px 6px rgba(0, 0, 0, 0.23);
  color: #fff !important;
  background-color: #FF9B00;
  border-radius: 20px 20px 0 0;
  font-weight: bold;
}
.tabs li.is-active a {
  border-bottom-color: #FF9B00;
}
.tabs li {
  width: 50%;
}

hr {
  border: 1px solid #e0e0e0;
  margin: 0;
}

.tags {
  background: #41b883;
  color: #fff;
  border-radius: 8px !important;
  font-size: 14px !important;
  border: none !important;
}

.user-image img {
  border-radius: 100%;
}
.user {
  padding: 20px;
  text-align: center;
}
.user-name {
 text-align: left;
 font-weight: bold;
 padding-top: 5px;
}
.user-score {
  text-align: left;
}